.text-center
  %h1.display-4 Lunchy App
  %p.lead Get your food!

.container
  .row.justify-content-center
    - if user_signed_in?
      -if current_user.admin
        .col
          .container.text-center
            %h3
              = link_to "Add new victual", new_victual_path
            %h3
              Manage
              = link_to "orders", orders_path
              ,
              = link_to "menus", menus_path
              and
              = link_to "victuals", victuals_path
      -else
        .col
          .container.text-center
            %h3
              = link_to "Check menus", today_menus_path
            %h3
              = link_to "Make an order", new_order_path
    - else
      .col-sm-4.offset-sm-2
        %h3= link_to "Sign Up", 'users/sign_up'
      .col-sm-4
        %h3= link_to "Log In", user_session_path
        
    