.container
  .row.mb-3
    .col-3
    .col
      %h1.text-center
        Menus
    .col-3.text-right.mt-3
      -if current_user.admin?
        = link_to 'Add New Menu', new_menu_path, class: 'btn btn-success'
.row.justify-content-end
  .col-auto
    .container 
      = simple_form_for(:search, url: for_day_menus_path, method: :get) do |f|
        .ul.list-inline.mb-3
          .li.list-inline-item
            = f.date_field :menu_date, as: :date, value: Time.now.strftime('%Y-%m-%d')
          .li.list-inline-item
            = f.button :submit, "Search", class: 'btn btn-success'

.container
  %ul.list-group
    = render @menus
  .row.justify-content-center.mt-3
    = will_paginate @menus