.row.justify-content-center
  .col-6
    %h3.text-center
      New Menu

    = simple_form_for(@menu, url: menus_path, html: {method: :post}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, label: 'Name', required: true, autofocus: true
        .text-center
          = link_to "Change Victuals", '#', data: {toggle: 'collapse', target: '#checkboxesList'}, role: 'button', class: "btn btn-secondary"
          .collapse#checkboxesList
            = f.association :victuals, as: :check_boxes, label: ''
        .form-actions.text-center.mt-4
          = f.button :submit, "Create", class: 'btn btn-primary w-50' 
