.jumbotron.center
  .row
    .col-auto
      = avatar_for(@user, version: :thumb)
    .col
      %h3= @user.name
      %p= @user.company
    .col-auto
      = simple_form_for(:search, url: for_day_menus_path, method: :get ) do |f|
        .ul.list-inline.mb-3
          .li.list-inline-item
            = f.date_field :menu_date, as: :date, value: Time.now.strftime('%Y-%m-%d')
          .li.list-inline-item
            = f.button :submit, "Search for menus", class: 'btn btn-success'

      -if current_user == @user
        .ul.list-group.mb-3.text-right
          .li.mb-3
            = link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary w-50'
          .li
            = link_to "Make new order", new_order_path, class: 'btn btn-success w-50'