.container
  .row.m-auto
    .col
      .row.justify-content-start
        .col-4
          %h1.mb-3
            Orders for 
        .col-4
          %h1.text-right
            = @date
      .row
        .row
          .col
            %h3.mb-3
              Total #{@orders.count} orders.
        .row.justify-content-center
          .col-auto
            %h3.mb-3
              Total lunch cost: 
          .col-2
            %h3.mb-3.text-right
              = @total_cost

.container
  -if @orders.any?
    %ul.list-group
      = render @orders
    .row.justify-content-center.mt-3
      = will_paginate @orders
  -else
    %h3.text-center
      No orders for this date.