.container
  .text-uppercase
    = link_to "Lunchy", root_path
  %nav
    %ul.list-inline
      %li.list-inline-item
        = link_to "Home", root_path
        |
      -if user_signed_in? 
        -if current_user.admin
          %li.list-inline-item 
            = link_to "Users", users_path
          |
          %li.list-inline-item 
            = link_to "Orders", '#'
          |
          %li.list-inline-item 
            = link_to "Profile", user_path(current_user)
          |
          %li.list-inline-item 
            = link_to "Log out", destroy_user_session_path, method: :delete
        -else
          %li.list-inline-item 
            = link_to "Orders", '#'
          |
          %li.list-inline-item 
            = link_to "Profile", user_path(current_user)
          |
          %li.list-inline-item 
            = link_to "Log out", destroy_user_session_path, method: :delete
      -else 
        %li.list-inline-item 
          = link_to "Log in", new_user_session_path
      -# .nav.navbar-nav.navbar-right